In [1]:
import pandas as pd

In [9]:
table = pd.read_html('https://uk.wikipedia.org/wiki/%D0%9C%D1%96%D1%81%D1%82%D0%B0_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B8_(%D1%81%D0%BF%D0%B8%D1%81%D0%BE%D0%BA)')

In [17]:
df = table[0][['Місто', 'Регіон']]
df

         Місто                     Регіон
0     Авдіївка           Донецька область
1      Алмазна          Луганська область
2       Алупка                       Крим
3       Алушта                       Крим
4     Алчевськ          Луганська область
..         ...                        ...
456       Ялта                       Крим
457     Ямпіль          Вінницька область
458     Яремче  Івано-Франківська область
459   Яни Капу                       Крим
460  Ясинувата           Донецька область

[461 rows x 2 columns]

In [18]:
df.to_csv("C:\\Users\\user\\Downloads\\city_region.csv")